.homepage-logo {
    display: flex;
    flex-direction: column;
}

.main-content .specs-svg {
    width: 242px;
}

.main-content .specs-svg svg {
    margin-top: 3rem;
}

.sub-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
}

.sub-content .club {
    font-size: 5rem;
    opacity: .85;
    padding: .5rem;
}

.sub-content .college-name {
    font-size: 2.5rem;
    opacity: .6;
    padding: .5rem;
}