.button a {
    padding: 1rem 3rem;
    border-radius: 5rem;
    position: relative;
    font-size: 1.8rem;
    transition: cubic-bezier(0.45, -0.31, 0.89, 1.36);
    background: linear-gradient(to left, var(--c1), var(--c2));
    color: var(--text);
}

.button a::after {
    content: attr(data-text);
    display: grid;
    place-items: center;
    position: absolute;
    width: calc(100% - .4rem);
    height: calc(100% - .4rem);
    top: .2rem;
    left: .2rem;
    font-weight: bold;
    background: var(--bg);
    box-sizing: border-box;
    border-radius: 5rem;
}

.button a:hover::after {
    background: linear-gradient(to left, var(--c1), var(--c2));
}


.button.danger a {
    background: linear-gradient(to left, var(--red1), var(--red2));
}

.button.danger a::after {
    background: var(--bg);
}

.button.danger a:hover,
.button.danger a:hover::after {
    background: linear-gradient(to left, var(--red1), var(--red2));
}



.button.filled a::after,
.button.filled a {
    background: linear-gradient(to left, var(--c1), var(--c2));
}


.button.filled a:hover::after {
    background: var(--bg);
}