.button a {
    padding: .5rem 2rem;
    background: var(--white);
    border-radius: 1.3rem;
    position: relative;
    z-index: 10;
    font-size: 1rem;
    transition: cubic-bezier(0.45, -0.31, 0.89, 1.36);
}

.button a::before {
    content: '';
    background: linear-gradient(to left, #00dfd8, #007cf0);
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -10;
    transform: scaleX(1.05) scaleY(1.1);
    transition: inherit;
}

.button a:hover {
    background: linear-gradient(to left, #00dfd8, #007cf0);
}