header {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    background: var(--bg);
}

header .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title .title-logo {
    width: 7rem;
    display: grid;
    place-items: center;
}

.title .title-logo img {
    width: 100%;
    height: auto
}

.title .title-name {
    height: 7rem;
    width: auto;
}

.title .title-name .title-text {
    line-height: 7rem;
    padding: 0 .5rem;
}

.title-name .specs-svg {
    width: 72.6px;
}

.title-name .specs-svg svg {
    margin-top: .5rem;
}

header nav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
}

nav .nav-list {
    display: flex;
    flex: 1;
    max-width: 80%;
    align-items: center;
    padding: 0 .5rem;
    justify-content: space-between;
}

header .user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info .nav-notification {
    font-size: 2rem;
}

.divider {
    width: .25rem;
    height: 3rem;
    background: var(--text);
    margin: 0 2rem;
    border-radius: 1rem;
}

.user-info .nav-profile-pic {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--bg);
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: inherit;
}

.nav-profile-pic::before {
    content: '';
    background: linear-gradient(to left, var(--c1), var(--c2));
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    right: -0.2rem;
    bottom: -0.2rem;
    border-radius: inherit;
    z-index: -1;
    transition: inherit;
}

.nav-profile-pic .nav-username {
    font-size: 2rem;
    font-weight: bold;
}

.user-info .nav-profile-dropdown {
    font-size: 1.5rem;
    position: absolute;
    top: 100%;
    cursor: pointer;
}

.nav-profile-dropdown .nav-profile-dropdown-list {
    width: 15rem;
    position: absolute;
    right: -100%;
    top: 100%;
    padding: .5rem .5rem;
    border-radius: .5rem;
    background: var(--bg);
    text-align: center;
}

.nav-profile-dropdown .nav-profile-dropdown-list ::before {
    content: '';
    background: linear-gradient(to left, var(--c1), var(--c2));
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    bottom: -.5rem;
    right: -.5rem;
    padding: .5rem .5rem;
    height: 100%;
    border-radius: .6rem;
    z-index: -10;
    transform: scaleX(1.04) scaleY(1.07);
}

.nav-profile-dropdown .nav-profile-dropdown-list.hidden {
    opacity: 0;
}

.nav-profile-dropdown-list .dropdown-list-items {
    padding: .5rem 1rem;
    position: relative;
}

.nav-profile-dropdown-list .dropdown-list-items::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: .11rem;
    background: linear-gradient(to left, var(--c1), var(--c2));
}

.nav-profile-dropdown-list .dropdown-list-items:last-child:after {
    display: none;
}