.nav-tab a {
    padding: 1rem 2rem;
    background: var(--white);
    position: relative;
    font-size: 1.5rem;
    border-radius: 1rem;
}

.nav-tab.active a::after {
    background: linear-gradient(to right, var(--c1), var(--c2));
}

.nav-tab a::after {
    content: attr(data-text);
    background: var(--white);
    position: absolute;
    display: grid;
    place-items: center;
    width: calc(100% - .4rem);
    height: calc(100% - .3rem);
    padding: 0;
    top: .15rem;
    left: .16rem;
    font-size: 1.5rem;
    border-radius: .8rem;
}


.nav-tab a:hover {
    background: linear-gradient(to right, var(--c1), var(--c2));
}