@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --primary: #163955;
  --secondary: #8fcbeb;
  --bg: #000000;
  --text: #ffffff;
  --black: #000000;
  --white: #ffffff;
  --red1: #fc4d12;
  --red2: #fc1235;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  width: 0.6rem;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--c1), var(--c2));
  border-radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--text);
  background: var(--bg);
  font-family: "Poppins", sans-serif;
}

body.dark {
  --bg: #000000;
  --text: #ffffff;
}

body.light {
  --text: #000000;
  --bg: #ffffff;
}

a {
  color: var(--text);
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
}
